package home

templ homePage() {
	<div class="py-16 text-center">
		<h1 class="text-4xl font-bold mb-4">stackr</h1>
		<p class="text-lg text-slate-500">Your HAMR project is up and running.</p>
	</div>
}
